CompileFlags:
  Add:
    - -x
    - c
    - -Wall
    - -Wextra
    - -Werror
    - -std=c11
    - -I../thirdparty
    - -I../src
    - -I../generated
    - -DSOKOL_D3D11
    - -DWIDTH=1280
    - -DHEIGHT=720
    - -D_DEBUG
    - -DBUILD_DEBUG=1
